body {
	width: 100%;
	height: 100%;
	overflow-x: hidden;

	#body {
		width: 100%;
		overflow-x: hidden;	
		position: relative;
		header {
			width: 120%;
			height: 120px;
			margin-left: -10%;
			background-color: rgba(32, 32, 32, 0.9);
			transform: rotate(-15deg);
			position: absolute;

			img {
				height: 120px;
				margin-left: 10%;
			}

			#hamburgerButton	{
				width: 30px;
				height: 18px;
				float: right;
				margin: 70px 15% 0 0;
				transform: rotate(15deg);

				#firstLine, #secondLine, #thirdLine	{
					width: 30px;
					height: 4px;
					background-color: #fff;
					transition: 0.3s;
					position: relative;
				}
				#firstLine	{
					top: 0;
				}
				#secondLine	{
					top: 3px;
				}
				#thirdLine	{
					top: 6px;
				}
				.change1  {
					top: 7px !important;
					transform: rotate(45deg);
				}
				.change2  {
					top: 3px !important;
					transform: rotate(-45deg);
				}
			}
		}

		#comercial-section {
			width: 125%;
			height: 500px;
			margin: -35px 0 0 -10%;
			background-color: #fff;
			transform: rotate(-10deg);
			position: absolute;
		}
	}
}